* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color:white;
}

ion-content {
    --background: transparent;
}

video {
    width:100%;
    flex:auto
}
